{% set image = product.productThumbnail.one() %}
{% set hasPromotion = craft.hasPromotion(product) %}
<img class="card-img-top" src="{{ image.mediaUrl|replace({'{dynamic-width}':'w300'}) }}" alt="image.mediaAlt">
<div class="card-body">
	{% if hasPromotion or (product.statusText|length and product.statusText != 'hidden') %}
		<div class="card-status theme-orange">
			<i class="fas fa-exclamation-circle outstanding"></i>
			{% if hasPromotion  %}
				<strong>Đang khuyến mãi</strong>
			{% else %}
				<strong>{{product.statusText.label}}</strong>
			{% endif %}
		</div>
	{% endif %}
	<h6 class="card-title">{{product.productSku}}
		-
		{{product.productName}}</h6>

	{% if hasPromotion and (product.promotionalPrice < product.price) %}
		<p>
			<strong>Giá KM:</strong>
			<em>{{ (product.promotionalPrice)|number_format(0, ',') }}₫</em>
		</p>
		<p>
			<strong>Giá:</strong>
			<del class="text-muted">
				<em>{{ (product.price) | number_format(0, ',') }}₫</em>
			</del>
		</p>
	{% else  %}
		<p>
			<strong>Giá:</strong>
			{% if product.stock %}
				<em>{{ (product.price)|number_format(0, ',') }}₫</em>
			{% else %}
				<em class="smaller-sm">Liên hệ</em>
			{% endif %}
		</p>
	{% endif %}
</div>
<div class="card-footer">
	<a class="btn btn-primary btn-view-product" data-id="{{product.id}}" href="/{{product.uri}}">
		Xem chi tiết
		<i class="fas fa-arrow-right small ml-1"></i>
	</a>
</div>
