<footer class="small-sm">
	<section class="p-3 theme-lightblue">
		<div class="container no-device-padding-x">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-xl">
							<h4>
								Giới thiệu
							</h4>
							<ul class="list-unstyled">
								<li>
									<a href="/">Trang Chủ</a>
								</li>
								<li>
									<a href="{{websiteSettings.websiteShopeeUrl}}">
										Cửa hàng trên Shopee
										<i class="fas fa-external-link-alt small smaller-sm ml-1"></i>
									</a>
								</li>
								<li>
									<a href="{{websiteSettings.websiteYoutubeUrl}}">
										Kênh Review trên Youtube
										<i class="fas fa-external-link-alt small smaller-sm ml-1"></i>
									</a>
								</li>
								<li>
									<a href="{{websiteSettings.websiteFacebookUrl}}">
										Facebook
										<i class="fas fa-external-link-alt small smaller-sm ml-1"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-xl">
							<h4>
								Thông tin cửa hàng
							</h4>
							{{websiteSettings.websiteInfomation}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-xl mb-3">
							<h4>
								Kết nối với chúng tôi
							</h4>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="{{websiteSettings.websiteShopeeUrl}}">
										<img class="img-fluid" src="{{websiteSettings.websiteShopeeLogoUrl}}" title="Xem sản phẩm của Ryshop trên Shopee" alt="Xem sản phẩm của Ryshop trên Shopee">
									</a>
								</li>
							</ul>
							<div class="g-ytsubscribe" data-channelid="{{websiteSettings.websiteYoutubeId}}" data-layout="full" data-count="default"></div>
						</div>
						<div class="col-xl text-xl-right">
							<iframe src="https://www.facebook.com/plugins/page.php?href={{websiteSettings.websiteFacebookUrl}}%2F&tabs&width=250&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="250" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-3 theme-dark">
		<div class="container">
			<div class="row">
				<div class="col-md text-center">
					<p>
						{{websiteSettings.copyrightText}}
					</p>
				</div>
			</div>
		</div>
	</section>
</footer>
