{% set modulePath = craft.app.config.general.globalVars.modulePath %}
{% set headerPath = modulePath ~ '_headers/' %}
{% set footerPath = modulePath ~ '_footers/' %}

{# define const for Entry handles and Category handles #}
{% set homePage = 'homePage' %}
{% set commonPage = 'commonPage' %}
{% set productPage = 'productPage' %}
{% set productCategoryPage = 'productCategoryPage' %}

{# context is entry or category #}
{% set context = null %}
{# handle name of current context #}
{% set handle = null %}

{% if entry is defined %}
	{% set context = entry %}
	{% set handle = entry.type.handle %}
{% elseif category is defined %}
	{% set context = category %}
	{% set handle = category.group.handle %}
{% endif %}

<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<link href='https://3.bp.blogspot.com/-wwCCnemGOwg/XLEoCpLGIXI/AAAAAAAAAFM/zka4DmmKvJgyxKbIK44m3XVnOgh8nkytQCLcBGAs/s1600/RyShop_Resource.jpg' rel='icon' type='image/x-icon'/>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css"/>
		<link rel="stylesheet" href="/main.min.css"/>

		<title>{{context.browserTitle}}
			- Cửa hàng RyShop</title>
		<meta name="keywords" content="{{context.metaKeywords}}"/>
		<meta
		name="description" content="{{context.metadDescription}}"/>

		<!-- OG info -->
		<meta property="og:site_name" content="Cửa Hàng Ryshop"/>
		<meta property="og:type" content="{{context.ogType}}"/>
		<meta property="og:url" content="{{context.url}}"/>
		<meta property="og:title" content="{{context.ogTitle}}"/>
		<meta property="og:description" content="{{context.ogDescription}}"/>
		<meta
		property="og:image" content="{{context.ogImage|length ? context.ogImage.one().mediaUrl|replace({'{dynamic-width}':'w1200'}) : ''}}"/>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138295544-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'UA-138295544-1');
		</script>

		<script>
			var searchPageUrl = '/ket-qua-tim-kiem';
		</script>
	</head>

	<body>
		<!-- JavaScript for Facebook SDK is in plugins.js  -->
		<div id="fb-root"></div>

		{% include headerPath ~ '_topNavigationBar' %}
		{% include headerPath ~ '_header' %}

		{% include modulePath ~ '_bootstrap' %}

		{% include footerPath ~ '_footer' %}

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
		<script src="/main.min.js"></script>

		<script src="https://apis.google.com/js/platform.js"></script>
		<script src="https://sp.zalo.me/plugins/sdk.js"></script>
	</body>

</html>
