{% if context is not null and context.blocks|length %}
	{% for block in context.blocks.all() %}
		{% if block.type is not empty %}
			{% include modulePath ~ '/_blocks/_' ~ block.type %}
		{% endif %}
	{% endfor %}
{% endif %}