{% set className = 'pt-10' %}

{% if block.style is defined and block.style.one() is not null %}
	{% if block.style.one().paddingClassName1|length %}
		{% set className = block.style.one().paddingClassName1 %}
	{% endif %}
{% endif %}

<nav class="page-breadcrumb small">
	<div class="container">
		<ol class="breadcrumb px-0 mb-1 theme-default {{className}}">
			<li class="breadcrumb-item">
				<a href="/">
					<i class="fas fa-home"></i>
				</a>
			</li>
			{% switch handle %}
				{% case commonPage %}
					{{"pages"}}
				{% case productCategoryPage %}
                    {% for item in context.ancestors.all() %}
                        <li class="breadcrumb-item">
                            <a href="/{{item.uri}}">{{item.navigationTitle}}</a>
                        </li>
                    {% endfor %}
				{% case productPage %}
					{% for item in context.productCategory.all() %}
                        <li class="breadcrumb-item">
                            <a href="/{{item.uri}}">{{item.navigationTitle}}</a>
                        </li>
                    {% endfor %}
				{% default %}
			{% endswitch %}
			<li class="breadcrumb-item active" aria-current="page">
                {{context.navigationTitle}}
            </li>
		</ol>
	</div>
</nav>
