{% set items = block.items.all() %}
{% if items|length %}
	<section class="carousel-banner mb-4">
		<div class="container no-device-padding-x">
			<div class="owl-carousel owl-theme">
				{% for item in items %}
					<div class="item" style="background-image: url({{ item.itemImage|length ? item.itemImage.one().mediaUrl : 'http://via.placeholder.com/1600x900' }});">
						<div class="item-info theme-{{item.theme}}-content">
							<h1>{{item.itemTitle}}</h1>
							<p>{{item.itemDescription}}</p>
							{% set url = craft.getItemUrl(item) %}
							{% if url|length %}
								<a href='{{ url }}' target="{{item.generalUrlTarget}}">
									{{item.generalUrlTitle|length ? item.generalUrlTitle : 'Xem chi tiết'}}
									<i class="fas fa-arrow-right small ml-1"></i>
								</a>
							{% endif %}
						</div>
						<div class="item-info-background theme-{{item.theme}}-bg"></div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
