<section
	class="facebook-chat">
	<!-- Your customer chat code -->
	<div class="fb-customerchat" attribution="setup_tool" page_id="2170912856284978" theme_color="#35d461" greeting_dialog_display="hide" logged_in_greeting="Xin chào! Xin quý khách vui lòng để lại lời nhắn, shop sẽ trả lời sớm nhất.❤️" logged_out_greeting="Xin chào! Xin quý khách vui lòng để lại lời nhắn, shop sẽ trả lời sớm nhất.❤️"></div>
</section>
