{% set items = block.items.all() %}
{% if items|length %}
	<section class="featured-block">
		<div class="container">
			<div class="row">
				{% for item in items %}
					<div class="col-md">
						<article class="card-1 mb-4">
							<div class="background card-right card-right-md-5" style="background-image: url({{ item.itemImage|length ? item.itemImage.one().mediaUrl : 'http://via.placeholder.com/600x300' }});"></div>
							<div class="card-left card-left-md-7 theme-{{item.theme}}">
								<h3>{{item.itemTitle}}</h3>
								<p>{{item.itemDescription}}</p>
								{% set url = craft.getItemUrl(item) %}
								{% if url|length %}
									<a class="card-link" href='{{url}}' target="{{item.generalUrlTarget}}">
										{{item.generalUrlTitle|length ? item.generalUrlTitle : 'Xem chi tiết'}}
										<i class="fas fa-arrow-right small ml-1"></i>
									</a>
								{% endif %}
							</div>
						</article>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
