{% set item = block.item.one() %}
{% set backgroundImage = 'background-image: url(' ~ (item.itemImage|length and item.itemImage.one().mediaUrl|length ? item.itemImage.one().mediaUrl : '') ~ ');' %}

{% set className = 'py-6' %}
{% if item.paddingClassName1|length %}
	{% set className = item.paddingClassName1 %}
{% endif %}

<section class="carousel-products theme-{{item.theme}}" style="{{backgroundImage}}">
	<div class="container">
		<div class="row {{className}}">
			<div class="col text-{{item.className}}">
				<h1>{{item.itemTitle}}</h1>
				<p>{{item.itemDescription}}</p>
				{% set url = craft.getItemUrl(item) %}
				{% if url|length %}
					<a class="btn btn-background" href='{{ url }}' target="{{item.generalUrlTarget}}">
						{{item.generalUrlTitle|length ? item.generalUrlTitle : 'Xem chi tiết'}}
						<i class="fas fa-arrow-right small ml-1"></i>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
