{% set item = block.item.one() %}

{% if item.productCategory is not defined or item.productCategory is null %}
	{% exit 404 %}
{% endif %}

{% set selectedCategory = item.productCategory.inReverse().one() %}
{% set products = craft.entries.section(productPage).stock(true).orderBy('dateUpdated desc').limit(20).all() %}

{% if products|length %}
	{% set backgroundImage = 'background-image: url(' ~ (item is not null and item.itemImage|length and item.itemImage.one().mediaUrl|length ? item.itemImage.one().mediaUrl : '') ~ ');' %}
	<section class="carousel-products py-6 theme-{{item.theme}}" style="{{backgroundImage}}">
		<div class="container">
			<div class="row">
				<div class="col text-{{item.className}}">
					<h1>{{item.itemTitle}}</h1>
					<p>{{item.itemDescription}}</p>
					{% set url = craft.getItemUrl(item) %}
					{% if url|length %}
						<a class="btn btn-background" href='{{ url }}' target="{{item.generalUrlTarget}}">
							{{item.generalUrlTitle|length ? item.generalUrlTitle : 'Xem chi tiết'}}
							<i class="fas fa-arrow-right small ml-1"></i>
						</a>
					{% endif %}
					{% if block.displaySeparator %}
						<hr>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="container p-0">
			<div class="owl-carousel owl-theme">
				{% for product in products %}
					<div class="item px-1 px-md-2">
						<div class="card theme-{{block.cardStyle.one().theme}} has-background-hover small-sm">
							{% include modulePath ~ '_common/_cardItem' %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
