{% if handle == productPage %}
	<section class="product-details mb-3">
		<div class="container no-device-padding-x">
			<div class="wrapper theme-white rounded-xl-2">
				<div class="row d-block d-md-none">
					<div class="col">
						<span class="field-title">
							<strong>Mã sản phẩm:</strong>
						</span>
						<span class="field-value">{{context.productSku}}</span>
						<h1 class="title">
							{{context.productName}}
						</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<div class="owl-gallery" data-big-image="#big-image" data-thumbnails="#thumbs">
							<div id="big-image" class="big-image owl-carousel owl-theme">
								<div class="item">
									<a>
										<img class="image-fluid" src="{{context.productThumbnail.one().mediaUrl|replace({'{dynamic-width}':'w1200'}) }}">
									</a>
								</div>
								{% for image in context.productImages.all() %}
									<div class="item">
										<a>
											<img class="image-fluid" src="{{ image.mediaUrl|replace({'{dynamic-width}':'w1200'}) }}">
										</a>
									</div>
								{% endfor %}
							</div>
							<div id="thumbs" class="thumbs owl-carousel owl-theme">
								<div class="item">
									<a>
										<img class="image-fluid" src="{{ context.productThumbnail.one().mediaUrl|replace({'{dynamic-width}':'w300'}) }}">
									</a>
								</div>
								{% for image in context.productImages.all() %}
									<div class="item">
										<a>
											<img class="image-fluid" src="{{ image.mediaUrl|replace({'{dynamic-width}':'w300'}) }}">
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-7 pl-md-6 big normal-sm">
						<div class="row d-none d-md-block">
							<div class="col-sm-3 field-title">
								<strong>Mã sản phẩm:</strong>
							</div>
							<div class="col-sm-9 field-value">{{context.productSku}}</div>
						</div>
						<h1 class="row title px-2 d-none d-md-block">
							{{context.productName}}
						</h1>
						<div class="row">
							<div class="col-sm-3 field-title">
								<strong>Giá bán:</strong>
							</div>
							<div class="col-sm-9 field-value">
								<span>
									{% set hasPromotion = craft.hasPromotion(context) %}
									{% if hasPromotion and (context.promotionalPrice < context.price) %}
										<strong class="text-violet">
											{{ (context.promotionalPrice) | number_format(0, ',') }}₫
										</strong>
										<del class="text-muted">
											<em>{{ (context.price) | number_format(0, ',') }}₫</em>
										</del>
									{% elseif context.stock  %}
										<strong class="text-violet">
											{{ (context.price) | number_format(0, ',') }}₫
										</strong>
									{% else %}
										<del class="text-muted">
											<em>{{ (context.price) | number_format(0, ',') }}₫</em>
										</del>
									{% endif %}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3 field-title">
								<strong>Kho:</strong>
							</div>
							<div class="col-sm-9 field-value">{{context.stock ? 'Còn hàng' : 'Liên hệ'}}</div>
						</div>
						<div class="row">
							<div class="col-sm-3 field-title">
								<strong>Xuất xứ:</strong>
							</div>
							<div class="col-sm-9 field-value">{{context.country.label}}</div>
						</div>
						<div class="row">
							<div class="col-sm-3 field-title">
								<strong>Hãng:</strong>
							</div>
							<div class="col-sm-9 field-value">{{context.manufacturer.label}}</div>
						</div>
						<div class="row">
							<div class="col-sm-3 field-title">
								<strong>Chất liệu:</strong>
							</div>
							<div class="col-sm-9 field-value">{{context.material.label}}</div>
						</div>
						<div class="row">
							<div class="col-sm-3 field-title">
								<strong>Đóng gói:</strong>
							</div>
							<div class="col-sm-9 field-value">{{context.packaging.label}}</div>
						</div>
						<p class="mt-6">
							<a href="{{context.productLink}}" target="_blank">
								<img class="img-fluid" src="{{websiteSettings.websitePurchaseImageUrl}}" title="Mua sản phẩm trên Shopee" alt="Mua sản phẩm trên Shopee">
							</a>
						</p>
						{% if hasPromotion %}
							<p class="text-success">
								<em>* {{context.promotionalText}}</em>
							</p>
						{% endif %}
						<p class="small text-red">
							<em>* <strong>Lưu ý</strong>: Shop chỉ hỗ trợ bán hàng qua Shopee.</em>
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>{% endif %}
