{% set item = block.item.one() %}
{% set backgroundImage = 'background-image: url(' ~ (item.itemImage|length and item.itemImage.one().mediaUrl|length ? item.itemImage.one().mediaUrl : '') ~ ');' %}
<section class="carousel-products py-6 theme-{{item.theme}}" style="{{backgroundImage}}">
	<div class="container">
		<div class="row">
			<div class="col text-{{item.className}}">
				<h1>{{item.itemTitle}}</h1>
				<p>{{item.itemDescription}}</p>
				{% set url = craft.getItemUrl(item) %}
				{% if url|length %}
					<a class="btn btn-background" href='{{ url }}' target="{{item.generalUrlTarget}}">
						{{item.generalUrlTitle|length ? item.generalUrlTitle : 'Xem chi tiết'}}
						<i class="fas fa-arrow-right small ml-1"></i>
					</a>
				{% endif %}
				{% if block.displaySeparator %}
					<hr>
				{% endif %}
			</div>
		</div>
	</div>
	{% set products = block.productItems.stock(true).all() %}
	{% if products|length %}
		<div class="container p-0">
			<div class="owl-carousel owl-theme">
				{% for product in products %}
					<div class="item px-1 px-md-2">
						<div class="card theme-{{block.cardStyle.one().theme}} has-background-hover small-sm">
							{% include modulePath ~ '_common/_cardItem' %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</section>
