{% set keyword = craft.app.request.getQueryParam('keyword') %}
{% set promoids = craft.app.request.getQueryParam('promoids') %}
{% set catids = craft.app.request.getQueryParam('catids') %}
{% set ranges = craft.app.request.getQueryParam('ranges') %}
{% set sort = craft.app.request.getQueryParam('sort') %}

{% set index = craft.app.request.getQueryParam('index')|length ? craft.app.request.getQueryParam('index') : 1 %}
{% set maxNumberOfItemsPerPage = craft.app.request.getQueryParam('items')|length ? craft.app.request.getQueryParam('items') : 12 %}
{% set indexOffset = 2 %}

{% set query = craft.entries.section(productPage) %}

{# define search criteria #}
{% if keyword|length %}
	{% set query = query.search('productName:' ~ keyword ~ ' OR productSku:' ~ keyword ~ ' OR metaKeywords:' ~ keyword) %}
{% endif %}

{% if ranges|length %}
	{% set rangeQuery = [] %}
	{% switch ranges %}
		{% case '0' %}
			{% set rangeQuery = ['>= 160000'] %}
		{% case '1' %}
			{% set rangeQuery = ['and', '>= 120000', '<= 160000'] %}
		{% case '2' %}
			{% set rangeQuery = ['and', '>= 50000', '<= 120000'] %}
		{% case '3' %}
			{% set rangeQuery = ['<= 50000'] %}
	{% endswitch %}
	{% if rangeQuery|length %}
		{% set query = query.price(rangeQuery) %}
	{% endif %}
{% endif %}

{% if promoids|length %}
	{% set currentDate = now|date("Y-m-d H:i:s") %}
	{% set query = query.stock(true).hasPromotion(true).promotionalStartDate('<= ' ~ currentDate).promotionalEndDate('>= ' ~ currentDate) %}
{% endif %}

{% if catids|length %}
	{# filter the records to related categories #}
	{% set catidArray = ['or'] %}
	{% for catid in catids|split(',') %}
		{% set catidArray = catidArray|merge([{'targetElement' : catid}]) %}
	{% endfor %}
	{% set query = query.relatedTo(catidArray)  %}
{% elseif handle == productCategoryPage %}
	{# if no category filter, display only the product in current category page #}
	{% set query = query.relatedTo(context) %}
{% endif %}

{% set orderBy = 'stock desc' %}
{# Sort #}
{% switch sort %}
	{% case '1' %}
		{% set orderBy = orderBy ~ ',price asc' %}
	{% case '2' %}
		{% set orderBy = orderBy ~ ',price desc' %}
	{% default %}
		{% set orderBy = orderBy ~ ',dateUpdated desc' %}
{% endswitch %}
{% set query = query.orderBy(orderBy) %}

{# Hit count in DB #}
{% set productCount = query.count() %}

{# Offset and Limit #}
{% set query = query.offset((index - 1) * maxNumberOfItemsPerPage).limit(maxNumberOfItemsPerPage) %}

{# Hit seach in DB #}
{% set products = query.all() %}

{% set theme = block.style.one()|length ? block.style.one().theme : 'default' %}

<section class="product-list mb-4">
	<div class="container">
		<div class="row">
			<div class="filter col-xl-3 p-2 d-none d-xl-block">
				<div id="divProductFilter" class="small wrapper px-4 theme-white rounded-3">
					<div class="filter-header d-block d-xl-none">
						<h5>
							<i class="fa fa-filter"></i>
							Bộ lọc sản phẩm
						</h5>
						<button type="button" id="buttonCloseFilterPopup" data-popup-id="#divProductFilter" class="btn btn-link filter-popup-close">
							<i class="far fa-times-circle"></i>
						</button>
					</div>
					<div class="accordion">
						<div class="card mb-2">
							<div class="card-header" id="collapsePromotion">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapsePromotionItems" aria-expanded="true" aria-controls="collapsePromotionItems">
										Khuyến mãi
									</button>
								</h5>
							</div>

							<div id="collapsePromotionItems" class="collapse show" aria-labelledby="collapsePromotion">
								<div class="card-body pl-6">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="promotion-0" value="0">
										<label class="custom-control-label" for="promotion-0">Đang khuyến mãi</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card mb-2">
							<div class="card-header" id="collapseCategory">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseCategoryItems" aria-expanded="true" aria-controls="collapseCategoryItems">
										Danh mục
									</button>
								</h5>
							</div>

							<div id="collapseCategoryItems" class="collapse show" aria-labelledby="collapseCategory">
								<div class="card-body pl-6">
									{% set categories = craft.categories().all() %}
									{% nav category in categories %}
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="category-{{category.id}}" value="{{category.id}}">
										<label class="custom-control-label" for="category-{{category.id}}">{{category.navigationTitle}}</label>
									</div>
									{% ifchildren %}
									{% children %}
									{% endifchildren %}
									{% endnav %}
								</div>
							</div>
						</div>
						<div class="card mb-2">
							<div class="card-header" id="collapsePrice">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapsePriceItems" aria-expanded="true" aria-controls="collapsePriceItems">
										Giá
									</button>
								</h5>
							</div>

							<div id="collapsePriceItems" class="collapse show" aria-labelledby="collapsePrice">
								<div class="card-body pl-6">
									<div class="custom-control custom-radio">
										<input name="groupPrice" type="radio" class="custom-control-input" id="price-0" value="0">
										<label class="custom-control-label" for="price-0">Trên 160k</label>
									</div>
									<div class="custom-control custom-radio">
										<input name="groupPrice" type="radio" class="custom-control-input" id="price-1" value="1">
										<label class="custom-control-label" for="price-1">Từ 120k đến 160k</label>
									</div>
									<div class="custom-control custom-radio">
										<input name="groupPrice" type="radio" class="custom-control-input" id="price-2" value="2">
										<label class="custom-control-label" for="price-2">Từ 50k đến 120k</label>
									</div>
									<div class="custom-control custom-radio">
										<input name="groupPrice" type="radio" class="custom-control-input" id="price-3" value="3">
										<label class="custom-control-label" for="price-3">Dưới 50k</label>
									</div>
									<div class="custom-control custom-radio">
										<input name="groupPrice" type="radio" class="custom-control-input" id="price-4" value="4">
										<label class="custom-control-label" for="price-4">Tất cả loại giá</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="button" id="buttonApplyFilter" class="btn btn-info">
						Áp dụng
						<i class="fas fa-filter"></i>
					</button>
				</div>
			</div>
			<div class="list col-xl-9 px-0 p-xl-2">
				<div class="wrapper theme-white rounded-xl-3">
					<div class="top-bar row mb-2">
						<div class="col-lg-7">
							<h5>{{productCount}}
								sản phẩm
								{{ keyword|length ? 'cho từ khóa "' ~ keyword ~ '"' }}</h5>
						</div>
						<div class="col-lg-5 text-lg-right">
							<select id="selectSort" class="custom-select">
								<option value="0" selected>Sản phẩm mới nhất</option>
								<option value="1">Giá từ thấp đến cao</option>
								<option value="2">Giá từ cao đến thấp</option>
							</select>

							<button type="button" id="buttonOpenProductFilterPopup" data-popup-id="#divProductFilter" class="btn btn-primary d-inline d-xl-none">
								Lọc
								<i class="fas fa-filter"></i>
							</button>
						</div>
					</div>
					<div class="row">
						{% for product in products %}
							<div class="col-6 col-md-3 mb-2">
								<div class="product-item mb-4">
									<div class="card theme-{{theme}} has-background-hover small-sm">
										{% include modulePath ~ '_common/_cardItem' %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

					{% if productCount > maxNumberOfItemsPerPage %}
						{% set maxIndex = ceil(productCount / maxNumberOfItemsPerPage) %}
						{% set maxPager = (indexOffset * 2) + 1 %}
						{% set startIndex = index - indexOffset %}
						{% set endIndex = index + indexOffset %}
						{% if startIndex <= 0 %}
							{% set endIndex = endIndex - (startIndex - 1) %}
							{% set startIndex = 1 %}
						{% endif %}
						{% if endIndex > maxIndex %}
							{% set endIndex = maxIndex %}
							{% if endIndex > maxPager %}
								{% set startIndex = endIndex - maxPager - 1 %}
							{% endif %}
						{% endif %}
						<nav>
							<ul class="pagination flex-wrap small">
								<li class="page-item {{index == 1 ? 'disabled' : ''}}">
									<a class="page-link" tabindex="1">
										<i class="fas fa-angle-double-left smaller m-0"></i>
									</a>
								</li>
								<li class="page-item {{index == 1 ? 'disabled' : ''}}">
									<a class="page-link" tabindex="{{ index == 1 ? 1 : index - 1 }}">
										<i class="fas fa-angle-left smaller m-0"></i>
									</a>
								</li>
								{% for i in startIndex..endIndex %}
									<li class="page-item {{ i == index ? 'active' : '' }}">
										<a class="page-link" tabindex="{{i}}">{{i}}</a>
									</li>
								{% endfor %}
								<li class="page-item {{index == maxIndex ? 'disabled' : ''}}">
									<a class="page-link" tabindex="{{ index == maxIndex ? maxIndex : index + 1}}">
										<i class="fas fa-angle-right smaller m-0"></i>
									</a>
								</li>
								<li class="page-item {{maxIndex == index ? 'disabled' : ''}}">
									<a class="page-link" tabindex="{{maxIndex}}">
										<i class="fas fa-angle-double-right smaller m-0"></i>
									</a>
								</li>
							</ul>
						</nav>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
