{% set item = block.item.one() %}

{% set selectedCategory = block.categoryItem.inReverse().one() %}
{% set products = craft.entries.section(productPage).relatedTo(selectedCategory).id(['not', context.id]).orderBy('stock desc, RAND()').limit(10).all() %}

{% if products|length %}
	<section class="content-block mb-3">
		<div class="container no-device-padding-x">
			<div class="wrapper theme-{{item.theme}} rounded-xl-2">
				<div class="row">
					<div class="col">
						<h3>
							{{item.itemTitle}}
						</h3>
						<hr>
						<div class="carousel-products">
							<div class="owl-carousel owl-theme">
								{% for product in products %}
									<div class="item px-1 px-md-2">
										<div class="card theme-{{block.cardStyle.one().theme}} has-background-hover small-sm">
											{% include modulePath ~ '_common/_cardItem' %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
