<section class="content-block  mb-3">
	<div class="container no-device-padding-x">
		<div class="wrapper theme-white rounded-xl-2">
			<div class="row">
				<div class="col">
					<h3>
						{{block.blockTitle}}
					</h3>
					<hr>
					<div class="content">
						{{block.blockBody}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
