<section
	class="zalo-chat">
	<!-- Your customer chat code -->
	<div class='section' id='sectionZalo'>
		<div class='widget HTML' data-version='1' id='HTML7'>
			<div class="zalo-chat-widget" data-oaid="2771654580801168727" data-welcome-message="Xin chào! Xin quý khách vui lòng để lại lời nhắn, shop sẽ trả lời trong thời gian sớm nhất.&#10084;&#65039;" data-autopopup="0" data-width="350" data-height="420"></div>
		</div>
	</div>
</section>
