$green: #35d461;
$yellow: #f9e104;
$orange: #f99d07;
$violet: #882ff6;
$aqua: #00ffe7;
$lightblue: #37b6f6;
$blue: #0084ff;
$patternblue: #e1f5ff;
$red: #ff0000;
$pink: #ffc0cb;

$white: #ffffff;
$black: #000000;
$lightergray: #f5f5f5;
$lightgray: #e6e6e6;
$gray: #989898;

$colors: (
    green: $green,
    yellow: $yellow,
    orange: $orange,
    violet: $violet,
    lightblue: $lightblue,
    blue: $blue,
    red: $red,
    white: $white,
    black: $black
);
