$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$medias: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
);

$grid-columns: 12;

$gutter: 5px;
$gutter-2x: $gutter * 2;
$gutter-3x: $gutter * 3;
$gutter-4x: $gutter * 4;
$gutter-5x: $gutter * 5;
$gutter-6x: $gutter * 6;

$radius:5px;
$radius-2x: $radius * 2;

$border: 1px;
$border-2x: $border * 2;


$z-index-base:1000;
$z-index-header:$z-index-base;
$z-index-section:$z-index-base - 100;