<header class="header">
	<div class="container container-table">
		<div class="col-table middle logo px-0">
			<a href="/">
				<img class="img-fluid img-site-logo" src="{{ websiteSettings.websiteLogoUrl }}" alt="Cửa hàng RyShop - cuahangryshop.com">
				<img class="img-fluid img-site-name" src="{{ websiteSettings.websiteTextLogoUrl }}" alt="Cửa hàng RyShop - cuahangryshop.com">
			</a>
		</div>
		<nav class="col-table middle menu-item text-right">
			<ul class="list-inline mb-0">
				{% for item in websiteSettings.websiteHeaderItems.all() %}
					<li class="list-inline-item">
						{% set url = craft.getItemUrl(item) %}
						<a class="white" href="{{url}}" target="{{item.generalUrlTarget}}">
							<i class="{{item.className}} d-none d-sm-inline"></i>
							{{item.generalUrlTitle|length ? item.generalUrlTitle : 'Xem chi tiết'}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<div class="col-table-md-4 col-table-lg-3 middle px-0 d-none d-md-table-cell">
			<div class="input-group outstanding">
				<input type="text" class="form-control" id="inputDesktopSearch" placeholder="Tìm sản phẩm...">
				<div class="input-group-append">
					<div class="input-group-text">
						<i class="fas fa-search"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-table search-button middle text-right px-0 d-table-cell d-md-none">
			<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#headerSearchModel">
				<i class="fas fa-search"></i>
			</button>
		</div>
	</div>
</header>
<!-- Modal -->
<div class="modal fade" id="headerSearchModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="headerSearchModelLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header theme-lightblue">
				<h5 class="modal-title" id="headerSearchModelLabel">
					<i class="fa fa-search"></i>
					Tìm kiếm
				</h5>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input type="text" class="form-control" id="inputMobileSearch" placeholder="Tìm sản phẩm...">
					<small id="labelSearchHelp" class="form-text text-success">Nhập tên hay từ khóa sản phẩm để tìm kiếm...</small>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				<button type="button" class="btn btn-primary" id="buttonMobileSearch">Tìm kiếm</button>
			</div>
		</div>
	</div>
</div>
