<nav class="top-navigation theme-dark">
	<div class="container container-table py-2">
		<p class="col-table middle px-0">
			<small>Cửa hàng RyShop
				<span class="d-none d-sm-inline">
					-
				</span>
				<br class="d-inline d-sm-none">
				Hotline:
				<a href="tel:+84985315765">0985 315 765</a>
			</small>
		</p>
		<div class="col-table middle px-0 text-right">
			<ul class="list-inline mb-0">
				<li class="list-inline-item">
					<a href="{{websiteSettings.websiteFacebookUrl}}">
						<i class="fab fa-facebook text-blue"></i>
						<span class="d-none d-md-inline">Facebook</span>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="{{websiteSettings.websiteYoutubeUrl}}">
						<i class="fab fa-youtube text-red"></i>
						<span class="d-none d-md-inline">Youtube</span>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="{{websiteSettings.websiteShopeeUrl}}">
						<i class="fab fa-shopify text-orange"></i>
						Shopee
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>