.header {
    //Variables
    $background-color: $lightblue;
    $actual-desktop-height: 80px;
    $actual-mobile-height: 60px;
    $desktop-height-padding: $actual-desktop-height + 30px;
    $mobile-height-paddding: $actual-mobile-height + 30px;
    $desktop-site-name-width: 180px;
    $mobile-site-name-width: 100px;

    //CSS Styles
    position: relative;
    height: $mobile-height-paddding;
    background-color: transparent;
    z-index: $z-index-header;
    overflow: hidden;
    padding-bottom: $gutter-6x;
    margin-bottom: -$gutter * 9;

    @media (min-width: $lg) {
        height: $desktop-height-padding;
    }

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;

        &+div+section, &+div+div,&+div+nav {
            padding-top: $actual-desktop-height - 25px; //offset
        }
    }

    .logo {
        position: relative;

        width: $mobile-site-name-width;
        img {
            position: absolute;
        }
        .img-site-logo {
            top: $gutter-2x;
            width: $actual-mobile-height - 20;
        }
        .img-site-name {
            top: $gutter-6x;
            left: $gutter-3x;
            width: $mobile-site-name-width;
        }

        @media (min-width: $lg) {
            width: $desktop-site-name-width;
            .img-site-logo {
                width: $actual-desktop-height - 20px;
            }
            .img-site-name {
                width: $desktop-site-name-width;
            }
        }
    }

    .search-button {
        width: 55px;

        @media (min-width: $sm) {
            width: 60px;
        }
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        transform: translate(-25%, -3%);

        width: 200%;
        height: 400%;
        border-radius: 50%;

        box-shadow: 0 0 10px $black;
        z-index: -1;
        @include generate-theme-bg($background-color);
    }
}
