.carousel-banner {
    $carousel-banner-height: 400px;

    .owl-carousel .owl-stage-outer {
        z-index: -1;
    }
    .owl-theme .owl-dots .owl-dot {
        zoom: 1.5;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: -$gutter * 9;
    }

    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px), linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    background-attachment: fixed;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;

    .item {
        background-size: cover;
        background-position: top right;
        height: $carousel-banner-height;
        position: relative;

        .item-info {
            width: 100%;
            z-index: 1;
            padding: 30px;

            position: absolute;
            top: 75%;
            transform: translateY(-50%);

            @media (min-width: $md) {
                width: 50%;
                top: 50%;
            }
        }

        .item-info-background {
            opacity: 0.8;
            width: 100%;
            height: 50%;
            position: absolute;
            bottom: 0;

            @media (min-width: $md) {
                width: 50%;
                height: 100%;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                bottom: auto;
            }
        }
    }
}
