@keyframes PopupMovement {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.product-list {
    .filter {
        &.in {
            display: block !important;
        }

        > div {
            animation: PopupMovement 0.5s;
            height: 100%;

            &.in {
                @media (max-width: $xl) {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: $z-index-header + 1;
                    border-radius: 0;
                    overflow: auto;
                }
            }
        }

        .accordion {
            .card {
                border: none;

                .card-header,
                .collapse,
                .card-body {
                    padding: 0;
                }

                .card-header {
                    background: none;
                    border: none;

                    button {
                        padding: 0 0 $gutter-2x 0;
                    }
                }
            }
        }

        .filter-popup-close {
            padding: 0;
            position: absolute;
            right: $gutter-4x;
            top: $gutter-4x;

            > i {
                font-size: 30px;
            }
        }
    }

    .list {
        .top-bar {
            @media (min-width: $lg) {
                h5 {
                    line-height: 2.5em;
                }
            }

            .custom-select {
                width: auto;
                height: auto;

                padding: $gutter-2x $gutter-6x $gutter-2x $gutter-3x;
            }
        }

        .product-item {
            height: 100%;
        }
    }
}
