@mixin generate-navigation {
    background: #000;
    color: white;

    border-radius: 100%;
    width: 50px;
    height: 50px;

    transform: translateY(-50%);
    position: absolute;
    top: 50%;

    opacity: 0.5;
    transition: all 0.5s;

    &:hover {
        opacity: 1;
    }
}

.product-details {
    .owl-theme {
        .item {
            cursor: pointer;
            transition: all 0.5s;
        }
    }

    .big-image.owl-theme {
        position: relative;

        .owl-prev {
            @include generate-navigation;
            left: 0;
        }

        .owl-next {
            @include generate-navigation;
            right: 0;
        }
    }

    .thumbs.owl-theme {
        .item {
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .title {
        text-shadow: 6px 6px 5px #00000033;
        margin-bottom: $gutter-3x;
    }
    .field-value {
        color: $gray;
    }
}
