.card {
    border-radius: $gutter-3x;
    height: 100%;
    transition: all 0.5s;

    .card-img-top {
        min-height: 1px;
        border-top-left-radius: $gutter-3x;
        border-top-right-radius: $gutter-3x;
    }

    .card-body {
        background-color: transparent;
        border: none;
        padding: $gutter-2x;
        padding-bottom: 0;

        p {
            margin: 0;
        }

        .card-status {
            position: absolute;
            top: 140px;
            right: 0;
            padding: $gutter-2x $gutter-2x $gutter-2x $gutter-4x;
            border-top-left-radius: $gutter-4x;
            border-bottom-left-radius: $gutter-4x;

            .outstanding {
                animation: outstanding-animation;
                animation-duration: 0.75s;
                animation-timing-function: ease-out;
                animation-direction: alternate;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
                animation-delay: 0s;
                animation-play-state: running;
            }
        }

        @keyframes outstanding-animation {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
    }

    .card-footer {
        background-color: transparent;
        border: none;
        padding: $gutter-2x;
    }
}

.card-1 {
    $radius: $gutter-3x;

    position: relative;
    border-radius: $radius;
    @include generate-border();

    .card-left {
        padding: $gutter-3x;
        border-radius: 0 0 $radius $radius;
    }

    .card-right {
        background-size: cover;
        background-position-x: right;
        background-position-y: top;

        min-height: 200px;
        border-radius: $radius $radius 0 0;
    }

    @each $name, $breakpoint in $medias {
        @for $col from 0 through $grid-columns {
            @if $name != xs {
                @media (min-width: $breakpoint) {
                    .card-left-#{$name}-#{$col} {
                        height: 100%;
                        width: 100% * $col / $grid-columns;

                        position: absolute;
                        left: 0;
                        top: 0;

                        border-radius: $radius 0 0 $radius;

                        .card-link {
                            position: absolute;
                            bottom: $gutter-3x;
                        }
                    }

                    .card-right-#{$name}-#{$col} {
                        height: 100%;
                        width: 100% * $col / $grid-columns;

                        position: absolute;
                        right: 0;
                        top: 0;

                        border-radius: 0 $radius $radius 0;
                    }
                }
            }
        }
    }
}
