@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,400i,500,700,700i|Open+Sans:300,400,400i,500,700,700i|Montserrat:300,400,400i,500,700,700i&display=swap&subset=vietnamese");

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400&subset=latin-ext,vietnamese");

@import url("https://kit-free.fontawesome.com/releases/latest/css/free.min.css");

$big-font-screen: $sm;
$icon-size: 1.25rem;

$a: 1rem;

$h1 : 2.5rem;
$h2 : 2rem;
$h3 : 1.75rem;
$h4 : 1.5rem;
$h5 : 1.25rem;
$h6 : 1rem;
$heading-elements: (h1 : $h1, h2: $h2, h3: $h3, h4: $h4, h5: $h5, h6: $h6);

@mixin generate-small-size($size) {
    font-size: $size * 80 / 100;
}

html,
body {
    font-size: 13px;
    font-family: "Be Vietnam", sans-serif;

    @media (min-width: $big-font-screen) {
        font-size: 17px;
    }
}

h1,
.h1 {
    font-weight: bold;
}

//Font is only for p, span. Cannot apply to heading because it is using rem.
@each $name, $breakpoint in $medias {
    @media (min-width: $breakpoint) {
        $className: "-#{$name}";
        @if $name == xs {
            $className: "";
        }

        .normal#{$className} {
            font-size: 100%;
        }

        .big#{$className} {
            font-size: 150%;
        }

        small#{$className},
        .small#{$className} {
            font-size: 80%;

            @each $heading-name, $heading-value in $heading-elements {
                .#{$heading-name}, #{$heading-name} {
                    @include generate-small-size($heading-value);
                }
            }

            a {
                @include generate-small-size($a);
            }

            i {
                @include generate-small-size($icon-size);
            }
        }

        @each $heading-name, $heading-value in $heading-elements {
            .#{$heading-name}, #{$heading-name} {
                &.small#{$className} {
                    @include generate-small-size($icon-size);
                }
            }
        }

        a {
            &.small#{$className} {
                @include generate-small-size($a);
            }
        }

        i {
            &.small#{$className} {
                @include generate-small-size($icon-size);
            }

            &.smaller#{$className} {
                font-size: $icon-size * 60 / 100 !important;
            }
        }
    }
}

a {
    color: $blue;

    & > i {
        margin-right: $gutter;
        font-size: $icon-size;
    }

    &:hover {
        color: $violet;
        text-decoration: none;
    }

    &.white {
        color: $white;

        &:hover {
            color: $white;
            text-shadow: 0 0 6px $white;
        }
    }
}

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;

        &:hover,
        &:focus,
        &:active {
            color: $color;
        }
    }
}
