@mixin generate-input-border($direction, $width, $radius) {
    @if $width {
        border-width: $width;
    }

    @if $radius {
        border-radius: $radius;
    }

    @if $direction == left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    } @else if $direction == right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.outstanding {
    $outstanding-color: $blue;

    %input-group-text {
        color: $white;
        background-color: $outstanding-color;
        border-color: $outstanding-color;
    }

    %form-control {
        border-color: $outstanding-color;
    }

    &.input-group {
        .form-control {
            @extend %form-control;
            @include generate-input-border(left, $border-2x, $radius-2x);
        }

        &.right {
            .form-control {
                @include generate-input-border(right, $border-2x, $radius-2x);
            }
        }
    }

    .input-group-append {
        .input-group-text {
            @extend %input-group-text;
            @include generate-input-border(right, none, $radius-2x);
        }
    }

    .input-group-prepend {
        .input-group-text {
            @extend %input-group-text;
            @include generate-input-border(left, none, $radius-2x);
        }
    }
}

.btn {
    border-radius: $gutter-6x;
    padding: $gutter-2x $gutter-4x;

    &.btn-background {
        color: $white;
        background-color: $black;
        border-color: $black;
        opacity: 0.8;
    }
}