@mixin generate-border($width: 1px) {
    border: $width solid $lightgray;
}

@mixin generate-table {
    display: table-cell;
    padding-left: $gutter-3x;
    padding-right: $gutter-3x;
}

@mixin generate-col-table($col) {
    width: 100% * $col / $grid-columns;
}

@each $name, $breakpoint in $medias {
    @for $col from 0 through $grid-columns {
        @media (min-width: $breakpoint) {
            $className: "-#{$name}";
            @if $name == xs {
                $className: "";
            }

            .pl#{$className}-#{$col},
            .px#{$className}-#{$col},
            .p#{$className}-#{$col} {
                padding-left: $gutter * $col !important;
            }

            .pr#{$className}-#{$col},
            .px#{$className}-#{$col},
            .p#{$className}-#{$col} {
                padding-right: $gutter * $col !important;
            }

            .pt#{$className}-#{$col},
            .py#{$className}-#{$col},
            .p#{$className}-#{$col} {
                padding-top: $gutter * $col !important;
            }

            .pb#{$className}-#{$col},
            .py#{$className}-#{$col},
            .p#{$className}-#{$col} {
                padding-bottom: $gutter * $col !important;
            }

            .ml#{$className}-#{$col},
            .mx#{$className}-#{$col},
            .m#{$className}-#{$col} {
                margin-left: $gutter * $col !important;
            }

            .mr#{$className}-#{$col},
            .mx#{$className}-#{$col},
            .m#{$className}-#{$col} {
                margin-right: $gutter * $col !important;
            }

            .mt#{$className}-#{$col},
            .my#{$className}-#{$col},
            .m#{$className}-#{$col} {
                margin-top: $gutter * $col !important;
            }

            .mb#{$className}-#{$col},
            .my#{$className}-#{$col},
            .m#{$className}-#{$col} {
                margin-bottom: $gutter * $col !important;
            }
        }
    }
}

.container-table {
    display: table;
    table-layout: fixed;
    height: 100%;

    [class^="col-table"] {
        @include generate-table;

        &.middle {
            vertical-align: middle;
        }
    }

    @each $name, $breakpoint in $medias {
        @for $col from 0 through $grid-columns {
            $className: "-#{$name}";
            @if $name == xs {
                $className: "";
            }
            
            @media (min-width: $breakpoint) {
                .col-table#{$className}-#{$col} {
                    @include generate-col-table($col);
                }
            }
        }
    }
}

.container {
    padding: 0 10px;

    .row {
        margin: 0 -10px;

        [class^="col-"], .col {
            padding: 0 10px;
        }
    }

    @each $name, $breakpoint in $medias {
        @media (min-width: $breakpoint) {
            @if $name == xl {
                max-width: $breakpoint;
            } @else {
                max-width: 100%;
            }
        }
    }

    &.no-device-padding-x, .no-device-padding-x {
        @media (max-width: $xl - 1) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    
    .wrapper {
        padding: $gutter-6x $gutter-2x;

        @media (min-width: $md) {
            padding-left: $gutter-6x;
            padding-right: $gutter-6x;
        }
    }
}

@for $number from 1 through 6 {
    @each $name, $breakpoint in $medias {
        @media (min-width: $breakpoint) {
            $className: "-#{$name}";
            @if $name == xs {
                $className: "";
            }

            .rounded#{$className}-#{$number} {
                border-radius: 5px * $number;
            }
        }
    }
}
