@mixin generate-theme-bg($backgroundColor) {
    background-color: $backgroundColor;

    &.has-background-hover {
        &:hover {
            background-color: darken($backgroundColor, 15%);
        }
    }
}

@mixin generate-theme-content($color, $secondaryColor, $linkColor, $linkHoverColor) {
    color: $color;

    .secondary-color {
        color: $secondaryColor;
    }

    @if $linkColor != null  {
        a {
            color: $linkColor;

            &:hover, &:focus, &:active {
                color: $linkHoverColor;
                text-decoration: none;
            }

            &.btn, &.btn:hover  {
                color: $white;
            }
        }
    }
}

@mixin generate-theme($className, $color, $backgroundColor, $secondaryColor, $linkColor, $linkHoverColor) {
    .theme-#{$className}-bg {
        @include generate-theme-bg($backgroundColor);
    }

    .theme-#{$className}-content {
        @include generate-theme-content($color, $secondaryColor, $linkColor, $linkHoverColor);
    }

    .theme-#{$className} {
        @extend .theme-#{$className}-bg;
        @extend .theme-#{$className}-content;
    }
}

@mixin generate-default-theme() {
    @include generate-theme(default, $black, transparent, $orange, $blue, $violet);
}

@include generate-default-theme();
@include generate-theme(white, $black, $white, $orange, $blue, $violet);
@include generate-theme(dark, $white, $black, $lightblue, $yellow, $orange);

@include generate-theme(red, $white, $red, $aqua, $yellow, $orange);
@include generate-theme(violet, $white, $violet, $aqua, $yellow, $orange);
@include generate-theme(green, $white, $green, $aqua, $yellow, $orange);
@include generate-theme(yellow, $black, $yellow, $orange, $red, $orange);
@include generate-theme(pink, $white, $pink, $orange, $red, $violet);
@include generate-theme(lightblue, $white, $lightblue, $orange, $yellow, $orange);
@include generate-theme(orange, $white, $orange, $yellow, $blue, $lightblue);

