body {
    background-color: $lightergray;
}

input,
a,
button {
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

//Facebook Messenger
.fb_dialog .fb_dialog_content {
    iframe {
        right: 0 !important;
        bottom: 90px !important;
    }
}

.custom-checkbox, .custom-radio {
    .custom-control-label {
        &:hover {
            cursor: pointer;
        }

        &::before {
            background-color: $white;
            border: solid thin $gray;
            top: 0.15rem;
        }

        &::after {
            top: 0.15rem;
        }
    }
}
